@model eBookStore.Models.BookViewModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Book" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Search" class="btn bg-dark text-light"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books[0].Reserve)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Books[0].BookingNumber)
            </th>

            <th> </th>
        </tr>
    </thead>
    @if (Model != null && Model.Books != null && Model.Books.Any())
    {
        @foreach (var item in Model.Books)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reserve)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingNumber)
                    </td>
                    <td>
                        <a class="btn bg-dark text-light" asp-action="Edit" asp-route-id="@item.Id">Reserve the book</a> 
                    </td>
                </tr>
            </tbody>
        }
    }
    else
    {
        <tbody>
            <tr>
                <td>
                    <p>Sorry, this book is not exist. </p>
                </td>
            </tr>
        </tbody>
    }
</table>


